/* Small screens (default) */
html { font-size: 100%; }

/* Medium screens (640px) */
@media (min-width: 40rem) { 
  html { font-size: 105%; }
}

/* Large screens (1024px) */
@media (min-width: 64rem) { 
  html { font-size: 110%; }  
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 95vw;
  width: 90%;
}

@media (min-width: 40rem) {
  .column {
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;  
  position: relative;
  top: 0px;
  bottom: 0px;
  }

 
  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.flow-opposite { float: right; }
}

.clearfix:before,
.clearfix:after {  
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

@media (max-width:40rem){
  .fade-in-box{
    display: block;
    background: lightgoldenrodyellow;
    height: 10%;
    width: 90%; 
    opacity: 0;
    position: absolute;
  }
}

@media (min-width:40rem){
  .fade-in-box{
    display: block;
    background: lightgoldenrodyellow;
    height: 10%;
    width: 94%; 
    opacity: 0;
    position: absolute;
  }
}

.fade-in-box:hover{
  opacity: 0.5;
}

.caption{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.caption:hover{
  opacity: 1;
}

img{
  height: 100%;
  width: 100%;
}


