html *{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px; /* !important; For ex. 2.3 */ 
}

nav, aside{
  background-color: grey
}

header, footer{
  background-color:lightgreen; 
  text-align: center
}

.header{
  font-size: 46px;
  box-sizing: border-box;
  height: 100px;
  padding-top: 25px;
}

.footer{
  font-size: 10px;
  box-sizing: border-box;
}

.content{
  font-size: 14px;
  box-sizing: border-box;
  width: 60%;
  display: inline-block;
}

.navigation{
  font-size: 12px;
  box-sizing: border-box;
  width: 19%;
  /*float: left;*/
  display: inline-block;
  margin-top: 0px;
  padding-top: 0px;
  border-top: 0px;
}

.sidebar{
  font-size: 10px;
  box-sizing: border-box;
  width: 20%;
  display: inline-block;
}

[class$="r"]{
  background: magenta;
}

[class*="a"]:not([class$="r"]){
  background: blue;
}

.oh-no-inline-styles{
  background: green !important;
}

#container{
  box-sizing: border-box;
}
